{% load static %}
<nav class="navbar">
        <div class="container">
            <div class="logo">
                <!-- Link to Home Page -->
                <a class="logo-icon" href="{% url 'index' %}">
                    <img width="50px" src="{% static "images/car-icon.jpg"%}" alt="img1">
                </a>

                <!-- Link to Home Page -->
                <a class="home logo-text nav-text" href="{% url 'index' %}">
                    Vehicle rental company
                </a>
            </div>

            <div class="nav-links">
                <ul class="nav-group">
                    <li class="nav-item">
                        <!-- Link to Add Pet Page -->
                        <a class="nav-text" href="{% url 'add vehicle' %}">
                            Add Vehicle
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <!-- Link to Profile Page -->
                            <a class="nav-text" href="{% url 'details user' pk=request.user.pk%}">
                                Account({{ request.user.username }})
                            </a>
                        </li>
                        <span class="nav-separator"></span>
                        <li class="nav-item">
                            <form method="post" action="{% url 'logout user' %}">
                                {% csrf_token %}
                                <a class="nav-text log-out-btn" href = "#" onclick="this.parentNode.submit();">Log Out</a>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <!-- Link to Profile Page -->
                            <a class="nav-text" href="{% url 'login user'%}">
                                Log In
                            </a>
                        </li>
                        <li class="nav-item">
                            <!-- Link to Profile Page -->
                            <a class="nav-text" href="{% url 'signup user'%}">
                                Sign Up
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>