{% extends 'partials/base.html' %}
{% load static %}
{% block page_content %}

    <div class="container">
        <div class="personal">
            <div class="edit">

                <p>{{ user.username }}</p>
            </div>
            <div class="data">
                <h3 class="names">Order History</h3>
            </div>
        </div>


        <div class="col-9">

            {% for order in orders %}

                <div class="card">
                    <div class="top">
                        <div class="userDetails">

                            <a href="{% url 'details user' pk=order.vehicle.user.pk %}">
                                <div class="profilepic">
                                    <div class="profile_img">
                                        <div class="image">
                                            <img src="{% static 'images/person.jpg' %}" alt="img8">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <h3>
                                <a href="{% url 'details user' pk=order.vehicle.user.pk %}">
                                    {{ order.vehicle.user }}
                                </a>
                                <br>

                                {% if order.vehicle.location %}
                                    <span>
                        {{ order.vehicle.location }}
                    </span>
                                {% endif %}
                            </h3>
                            <a class="bin-img-user-details-holder" href="{% url 'delete order' pk=order.pk %}">
                                <img class="bin-img bin-img-user-details" src="{% static 'images/icon-remove-22.jpg' %}"
                                     alt="bin button">
                            </a>
                        </div>
                    </div>

                    <div class="imgBx" id="photo-{{ vehicle.pk }}">
                        <img src="/media/{{ order.vehicle.photo }}" alt="post" class="cover">
                    </div>

                    <a href="{% url 'details vehicle' pk=order.vehicle.pk %}">
                        <h4 class="details">See details</h4>
                    </a>
                    <h3 class="details_price">
                        {{ order.vehicle.price_per_day }}BGN per day!</h3>
                    <h4 class="details_price">From: {{ order.date_from }}</h4>
                    <h4 class="details_price">To: {{ order.date_to }}</h4>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}