{% extends 'partials/base.html' %}
{% load static %}
{% load currency_calc %}
{% block page_content %}

    <div class="container">
        <div class="col-9">
            <div class="card">
                <div class="top">
                    <div class="userDetails">
                        <a href="{% url 'details user' pk=vehicle.user.pk %}">
                            <div class="profilepic">
                                <div class="profile_img">
                                    <div class="image">
                                        <img src="{% static 'images/person.jpg' %}" alt="img8">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h3>
                            <a href="{% url 'details user' pk=vehicle.user.pk %}">
                                {{ vehicle.user }}
                            </a>
                            <br>
                            {% if vehicle.location %}
                                <span>
                                    {{ vehicle.location }}
                                </span>
                            {% endif %}

                        </h3>
                        <div class="vehicle-make-model">
                            {{ vehicle.get_make_model_year }}
                        </div>
                        {% if is_owner %}
                                <div class="edit-delete-btns">
                                    <a href="{% url 'edit vehicle' pk=vehicle.pk %}">
                                        <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}"
                                             alt="edit button">
                                    </a>

                                    <a href="{% url 'delete vehicle' pk=vehicle.pk %}">
                                        <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}"
                                             alt="bin button">
                                    </a>
                                </div>
                            {% endif %}
                    </div>
                </div>
                <div class="imgBx" id="photo-{{ vehicle.pk }}">
                    <img src="/media/{{ vehicle.photo }}" alt="post" class="cover">
                </div>
                <a href="{% url 'order vehicle' pk=vehicle.pk %}">
                    <h2 class="details">Order</h2>
                </a>
                {% if request.user.is_authenticated %}
                    <h3 class="details_price">Only
                        {{ vehicle.price_per_day|divide:request.user.currency.price_to_bgn }}{{ request.user.currency }}
                        per
                        day!</h3>
                {% else %}
                    <h3 class="details_price">Only
                        {{ vehicle.price_per_day }}BGN per
                        day!</h3>
                {% endif %}

                {% if has_reviews %}
                    <h4 class="details_price">Reviews:</h4>
                    {% for review in vehicle.vehiclereview_set.all %}
                        <div class="comments">
                            <div class="top">
                                <div class="userDetails">
                                    <div class="comment-data">
                                        <div class="profilepic">
                                            <div class="profile_img">
                                                <div class="image"><img
                                                        src="{% static 'images/person.jpg' %}" alt="img8"></div>
                                            </div>
                                        </div>
                                        <p>
                                            <a style="color: #1d92ff; font-size: medium" href="{% url 'details user' pk=review.user.pk %}">{{ review.user }}</a>
                                            {{ review.text }}
                                        </p>
                                        {% if review.user == request.user %}
                                            <a style="margin-left: auto; margin-right: 5px" href="{% url 'delete review' pk=review.pk %}">
                                                <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}"
                                                     alt="bin button">
                                            </a>
                                        {% endif %}
                                    </div>
                                    <span>{{ review.publication_date_and_time }}</span></div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h4 class="details_price">Be the first to add a review:</h4>
                {% endif %}

                <div class="addComments">
                    <div class="reaction">
                        <h3>
                            <i class="far fa-smile"></i>
                        </h3>
                    </div>
                    <form method="post" action="{% url 'reveiw vehicle' pk=vehicle.pk %}">
                        {{ review_form }}
                        <button type="submit">Post Review</button>
                        {% csrf_token %}
                    </form>

                </div>

            </div>
        </div>
    </div>
{% endblock %}